 <style>
    	body{
    		margin: 0px;
    	}

    	.n{
    		padding: 0px;
    	}

    	.box{
    		background-color: red;
    		width: 100%;
    	}

    	.bgcolor{background-color: #f8f9fa ;}

    	.next, .prev{
    		background-color: #ef8354; 
    		border: 0px;
    		margin-top: ;
    		height: 30px;
    		width: 30px;
    		position: relative;;
    		padding: 0px 5px 5px 5px;
    		margin-left: 13px;
    		margin-bottom: 25px;
    	}

    	.prev{
    		margin-right: 13px;
    		margin-left: 0px;
    	}
    	.small{
    		width:20px;
    	}

    	.box1{
    		background-color: ;
    		width: 100%;
    		text-align: center;
    		padding: 0px 20px 30px 20px;
    		font-family: 'Noto Sans JP', sans-serif;
    		font-size: 18px;
    		color: #2f2f2f;
    		margin-top: 180px;
    	}


    	.pic{
    		width:60px;
    		object-fit: contain;
    		margin: 0px 20px 20px 4.5px;
    		float: left;
    	}

    	.p1{
    		font-size: 20px;
    		color: #222222;
    		font-family: 'Lato', sans-serif;
    	}

    	.box3{
    		width: 100%;
    		height: 120px;
    		background-color: red;
    	}

    	.pic1{
    		width: 100px;
    		position: relative;
    		bottom: 5px;
    		margin-bottom: 50px;
    	}

    	.p2{
    		font-size:20px;
    		font-family: 'Lato', sans-serif;	
    		margin: 0px 50px 0px 50px;
    	}

    	.mbox {
		  width: 100%;
		  background-color: #00bfb6;
		  padding: 30px;
		  text-align: center;
		  font-weight: 900;
		  color: #222222;
		  position: relative;
		  background-color: white;
		  border-bottom-left-radius: 0px;
		   border-bottom-right-radius: 0px;
		  font-family: 'Roboto', sans-serif;
		  font-size: 18px;
		  height:210px;
		 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		  border-bottom: 0px;

		}

		.title{
			font-family: 'Roboto', sans-serif;
			font-size: max(3vw,40px);
			color: #fb8351;
			margin: 70px 0px 0px 0px ;
		}

		.hr1{
			width: 200px;
			color: #fb8351;
			opacity: 0.8;
			border: 1px solid;
		}
    	

    	.nav{
    		height: 130px;
    		background-color: white;
    	}

    	.logo{
    		width: 150px;
    		height: auto;
    		object-fit: contain;
    		margin-left: 50px;
    	}

    	.author{
    		height:73px;
    		width: 100%;
    		text-align: center;
    		background-color: #f8f9fa;
    		padding: 10px;
    		 margin-bottom:25px;
    		 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    	}

    		.nav-link{
    		font-size: 20px;
    		margin: 7px 5px 0px 5px;
    	}

    	.nav-link:hover .hr3{
    		width: 100%;
    		opacity: 1;
    	}

    	.hr3{
    		width: 0px;
    		transition: 0.5s;	
    		border:  1px solid #fb8351;
    		margin: 0px;
    		margin-top: 7px;
    		opacity: 0;

    	}


    	.box55{
    		width: 100%;
    		background-color: rgba(0,0,0,.2);
    		margin: 0px 0px 0px 0px;
    		font-size: max(3vw,30px);
    		text-align: center;
    		padding: 230px 25px 270px 25px;
    		font-family: 'Source Sans Pro', sans-serif;
    		letter-spacing: 2px;
    		color: white;
    		height: 550px
    	}

    	.smalltitle{
    		color: whitesmoke;
    		font-size: 16px;
    		font-family: 'Nunito', sans-serif;
    	}

    	.p10{
    		color: #e9ecef;
    		font-family: 'Montserrat', sans-serif;
    	}

    	a{
    		text-decoration: none;
    		color: #e9ecef	;
    	}

    	a:hover{
    		color: #fb8351;
    	}

    	.hrfooter{
    		width: 100%;
    		opacity: 0.5;
    		background-color: gray;
    		margin-top: 30px;
    		margin-bottom: 30px;
    	}

    	.p11{
    		color: whitesmoke;
    		font-size: 16px;
    		text-align: center;
    		opacity: 0.7;
    	}

    	.b{
    		font-family: 'DM Serif Text', serif;
    		font-size: 24px;
    		position: relative;
    		bottom: 5px;
    		margin: 10px;
    	}

    	.nv{
    		animation-name: down;
 			animation-duration: 1s;
  			animation-delay: 0s;
  			transition: 0.3s;
  			background-color: ;
  			height:;
    	}

    	@keyframes down{
			  0%   {height:0px;}
			  100% {height: 98px;}
			}

		.tx{
    		animation-name: fade;
 			animation-duration: 1s;
  			animation-delay: 0s;
  			transition: 0.1s;
    	}

    	@keyframes fade{
			  0%   {opacity: 0;}
			  100% {opacity: 1;}
			}

		.reveal{
		  position: relative;
		  transform: translateY(150px);
		  opacity: 0;
		  transition: 1s all ease;
		}

		.reveal.active{
		  transform: translateY(0);
		  opacity: 1;
		}

		.reveal1{
		  position: relative;
		  opacity: 0;
		  transition: 1s all ease;
		}

		.reveal1.active{
		  opacity: 1;
		}

		html {
		  scroll-behavior: smooth;
		}

    </style>